html {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Lato';
    display: flex;
    background-color: black;
    width: 100%;
}

body {
    color: white;
    margin: 0rem;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

i {
    color: white;
}

.logo {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img{
    margin: 8rem;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-top: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
} 

.row div{
    width: 50%;
    text-align: center;
}

.row img{
    width: 60%;
    padding: 2rem;
} 

.row p{
    margin: 0rem;
    padding: 2rem;
}

.row div:last-child p{
    text-align: left;
    padding-top: 2rem;
}

.titles {
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    text-decoration: overline;
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;
    background-color: white;
}

.container {
  position: relative;
  width: 20%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text span{
    font-size: 0.8rem;
}

.text p{
    margin: 0rem;
}

.viewProjectButton {
    cursor: pointer;
    background-color: #00A79D;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.BGwhite {
    background-color: white;
}

.black {
    color: black;
}

.cvSection {
    background-color: #00A79D;
    padding: 2.5rem 0rem;
    width: 100%;
    margin: 0rem;
    display: flex;
    justify-content: center;
}

.cvSection a{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    margin: 0rem;
    border: 1px solid white;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.footer {
    padding: 0rem 2rem;
    text-align: center;

}

.footer i{
    padding-right: 1rem;
    margin-bottom: 2rem;
    color: #00A79D;
}

.footer span{
    text-align: center;
    color: gray;
    font-size: 0.6rem;
    padding-bottom: 1rem;
}

.top {
    margin-top: 7rem;
}

#portfolioHeader {
    position: fixed;
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.97);
    text-align: center;
    width: 100%;
}

#buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

#buttons div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;

}

#back {
    border: 1px solid white;
}

#back i{
    padding-right: 1rem;
}

#prevNext {
    background-color: #00A79D;
    border: 3px solid #00A79D;
    text-align: center;
}

